input[type = text], input[type = password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
}

.container{
    padding: 16px;
    align-self: center;
    clear: both;
    margin: 0 auto;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: #3cac83;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    font-size: 14px; 

}
button:hover{ opacity: 0.8;
}

.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.header{
    text-align: center;
    padding: 10px;
    background-color: #3cac83;
    color: white;
    
}

